
header{
    color:black;
    background-color: blue;
}

body{
    color: black;
    background-color: beige;
}

.leftSide{
    float: left;
    width: 60vw;
    max-width: 60vw;

    /* Internal */
    padding: 1vh;

    /* Corners */
    border-radius: 8px;

    background-color: aqua;
}

.rightSide{
    /* Formatting */
    float: left;
    width: 30vw;
    max-width: 30vw;
    margin-left: 2vw;

    /* Internal */
    padding: 1vh;

    /* Corners */
    border-radius: 8px;
    
    /* Colors */
    background-color: rgb(138, 161, 150);
}