
header{
    width: 98%;
    padding: 1vw;


    border-radius: 8px;
    

    /* Colors */
    color:black;
    background-color: rgb(138, 161, 150);
}

body{
    min-width: auto;
    min-height: 100dvh;
    padding: 2vw;

    color: black;
    background-color: rgb(60, 60, 60);
}

footer{
    float: right;
    width: 100%;

    /* Corners */
    border-radius: 8px;
    
    /* Colors */
    color: black;
    background-color: rgb(87, 229, 160);
}

#main_container{
    padding: 2dvw;
    padding-left: 0;
    padding-right: 0;
    height: 80dvh;
    width: 100%;
}

.left_side{
    box-sizing:border-box;
    float: left;
    height: 100%;
    width: 60%;
    max-width: 60%;
    max-height: 100%;
    margin-right: 2vw;
    margin-left: 0;

    /* Internal */
    padding: 1vw;

    /* Corners */
    border-radius: 8px;

    color: black;
    background-color: rgb(138, 161, 150);
}

.right_side{
    /* Formatting */
    box-sizing:border-box;
    float: left;
    width: calc(40% - 2vw);
    max-width: 40%;
    /* margin-left: 2vw; */
    margin-right: 0;
    height: 100%;

    /* Internal */
    padding: 1vw;

    /* Corners */
    border-radius: 8px;
    
    /* Colors */
    color: black;
    background-color: rgb(138, 161, 150);
}

.pictures{
    /* Formatting */
    float: left;
    height: auto;
    width: 60%;
    max-width: 60%;
    max-height: 80%;

    /* Internal */
    object-fit: scale-down;

    /* Corners */
    border-radius: 8px;
    
    /* Colors */
    color: black;
    background-color: rgb(87, 229, 160);
}

.picture_description_right{
    /* Formatting */
    float: left;
    max-width: fit-content;
    width: 40%;
    max-width: 40%;

    /* Corners */
    border-radius: 8px;
}


.project_container{
    width: 100%;
    /* height: 60dvh; */

    border-radius: 8px;

    overflow: scroll;

    color: black;
    background-color: cadetblue;
}

.game_project_body{
    /* Formatting */
    box-sizing:border-box;
    float: left;
    height: 80%;
    width: 48%;

    margin: 1%;

    /* Corners */
    border-radius: 8px;

    /* Colors */
    color: black;
    background-color: rgb(169, 240, 57);
}