
header{
    color:blue;
    background-color: blue;
}

body{
    color: black;
    background-color: beige;
}

.leftSide{
    float: left;
    width: 60vw;
}

.rightSide{
    float: left;
    width: 30vw;
}