.project_container{
    width: 100%;
    height: auto;

    margin-bottom: 2dvh;
    margin-left: 0;

    border-radius: var(--border_radius);

    overflow: auto;

    color: black;
    background-color: var(--container_color);

    @media (orientation: portrait) {
        margin-top: 0;
        display: block;
        overflow-x: hidden;
    }
}

.project_header{
    width: 100%;
}

.project_picture{
    /* Formatting */
    float: left;
    height: auto;
    /* width: 30%; */
    /* max-width: 50%; */
    /* max-height: 40%; */

    /* Internal */
    /* object-fit: scale-down; */

    /* Corners */
    border-radius: var(--border_radius);
    
    /* Colors */
    color: black;
    background-color: var(--object_color);
}

.game_project_body{
    /* Formatting */
    /* box-sizing:border-box; */
    float: left;
    height: 40dvh;
    width: calc(50% - 4%);


    padding: 1%;
    margin: 1%;

    /* Corners */
    border-radius: var(--border_radius);

    /* Colors */
    color: black;
    background-color: var(--object_color);

    /* Scroll Settings */    
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--container_color) var(--object_color);
    scrollbar-width: thin;

    @media (orientation: portrait) {
        height: auto;
        width: 98%;
        box-sizing: border-box;
    }
}

.redirect_button{

    /* width: 20px;
    height: 100px; */
    padding: 5px;
    border-radius: var(--border_radius);

    background-color: var(--container_color);

    color: black;
    text-decoration: none;
}
@media (hover: hover) {
/* when hover is supported */
    .redirect_button:hover {
        color: var(--container_color);
        background-color: var(--back_color);
    }
}
#grow_bot_image{
    height: 300px;
    max-width: 100%;
    width: 100%;
    background-image: url('/Images/GrowBotArt.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#dark_descent_image{
    height: 300px;
    max-width: 100%;
    width: 100%;
    background-image: url('/Images/darkdescent_poster02.png');
    background-repeat: no-repeat;
    background-size: contain;
}