.project_container{

    display: grid;
    gap: 1vw;
    grid-template-columns: 100%;

    height: fit-content;
    overflow: visible;

    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    /* color: black; */
    background-color: var(--container_color);

    @media (orientation: portrait) {
        overflow-x: hidden;
    }
}

.project_grid{
    display: grid;
    grid-template-columns: calc(25% - 1dvh) calc(25% - 1dvh) calc(25% - 1dvh) calc(25%);
    gap: 1dvh;
    margin: 1dvh;

    @media (orientation: portrait) {
        margin-top: 0;
        grid-template-columns: calc(100% - 2dvh);
    }
}

.project_header{
    width: 100%;
}

.image_section{
    object-fit: contain;
    overflow: hidden;
}

.project_picture{
    /* Formatting */
    max-width: 100%;
    max-height: calc(100% - 56px);
    /* max-height: 80%; */
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;

    /* Internal */
    object-fit: contain;
    box-sizing: border-box;

    /* Corners */
    border-radius: var(--border_radius);

    @media (orientation: portrait) {
        width: 100%;
        max-height: 100%;
    }
}

.game_project_body{
    /* Formatting */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px auto auto;

    padding: 1dvh;
    margin: calc(1% - 2px);

    /* Corners */
    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    /* Colors */
    color: var(--another_color);
    background-color: var(--container_color);

    /* Scroll Settings */
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--container_color) var(--object_color);
    scrollbar-width: thin;

    @media (orientation: portrait) {
        height: auto;
        width: 98%;
        /* box-sizing: border-box; */
    }
}

.blueprint_image{
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 100%;
    border-radius: var(--border_radius);
}
.image_comparison{
    display: grid;
    grid-template-columns: 50% 50%;

}
.game_image{
    max-width: 100%;
    /*border-radius: var(--border_radius);*/
}

.redirect_button{
    padding: 4px;
    border-radius: var(--border_radius);

    background-color: var(--object_color);

    color: var(--another_color);
    text-decoration: none;
    /*height: 1.5rem;*/
    align-self: start;
    /*align-self: end;*/
    width: 5.5rem;
    /*align-content: center;*/
}
@media (hover: hover) {
/* when hover is supported */
    .redirect_button:hover {
        color: var(--container_color);
        background-color: var(--back_color);
    }
}
