
:root{
    --back_color: #222831;
    --container_color: #393E46;
    --object_color: #00ADB5;
    --another_color: #EEEEEE;
    --border_radius: 8px;
    --phone_width: 98dpi;
    display: grid;
    /* Scroll Settings */
    overflow-x: visible;
    overflow-y: visible;
    scrollbar-color: var(--container_color) var(--object_color);
    scrollbar-width: thin;

    --picture_size: 30rem;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  /* width: 7px; */
}

header{
    height: fit-content;
    /*width: 100%;*/
    padding: 1vw;

    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    margin-bottom: 0;

    /* Colors */
    background-color: var(--container_color);

    /* box-shadow: #3B060A; */
}

nav{
    margin-top: 0;
    height: 5dvh;
    width: 100%;

    background-color: var(--container_color);

    display: flex;
    align-items: center;
    justify-content: center;

    border-color: var(--back_color);
    border-top: 2px;

    border-bottom-left-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 3dvh;
    min-width: auto;
    min-height: 100dvh;
    padding: 2vw;

    color: var(--another_color);
    background-color: var(--back_color);
    /* background-image: linear-gradient(var(--back_color), var(--another_color)); */

    /* Scroll Settings */
    overflow-x: visible;
    overflow-y: visible;
    scrollbar-color: var(--container_color) var(--object_color);
    scrollbar-width: thin;

    font-family: sans-serif;
}

footer{
    /*float: right;*/
    /*width: 98%;*/
    padding: 1vw;

    /* Corners */
    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    /* Colors */
    /* color: black; */
    background-color: var(--container_color);
}

a{
    text-decoration: none;
    /*height: 100rem;*/
}

h1{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

h2{
    margin-top: 0.5rem;
    margin-bottom: 0;
}
h3{
    margin-top: 0.5rem;
    margin-bottom: 0;
}
h4{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.navigation_button{
    display: flex;
    align-self: center;
    justify-content: center;

    width: 5dvw;
    height: 4dvh;

    background-color: var(--back_color);
    border: var(--container_color);
    border: 2px;
}


#main_container{
    display: grid;
    gap: 1vw;
    grid-template-columns: 30% calc(70% - 1vw);


    height: fit-content;
    width: 100%;
    overflow: visible;

    margin-bottom: 1dvh;
    /*width: 100%;*/

    @media (orientation: portrait) {
        height: auto;
        grid-template-columns:100%;
        /* margin-bottom: -3dvh; */
    }
}

.left_side{
    position: sticky;
    top: 1rem;
    align-self: start;
    height: fit-content;

    /* Internal */
    padding: 1dvh;
    overflow: visible;

    /* Corners */
    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    /* color: black; */
    background-color: var(--container_color);

    box-shadow: 5px;

    @media (orientation: portrait) {
        position: initial;
    }
}

.right_side{
    /* Formatting */
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1dvh;

    margin-right: 0;
    height: fit-content;

    /* Internal */
    padding: 1vw;

    /* Corners */
    border-style: solid;
    border-width: 2px;
    border-radius: var(--border_radius);
    border-color: var(--object_color);

    /* Colors */
    background-color: var(--container_color);

    @media (orientation: portrait) {
        height: auto;

        margin-top: 1dvh;
        margin-bottom: 1vh;
    }
}

.right_side_containers{
    height: fit-content;
    /*width: max-content;*/
    /*max-width: 100%;*/
    padding: 1dvh;

    /* Corners */
    border-style: solid;
    border-width: 3px;
    border-radius: var(--border_radius);

    border-color: var(--object_color);
    background-color: var(--container_color);
}

.portfolio_picture{
    /* Formatting */
    float: left;
    height: 400px;
    width: 100%;
    max-width: 100%;
    /* max-height: 80%; */
    padding:0;
    margin:0;

    /* Internal */
    object-fit: scale-down;

    /* Corners */
    border-radius: var(--border_radius);

    background-image: url('/Images/PortfolioPictures/self_portrait.webp');
    background-repeat: no-repeat;
    background-size: contain;

    @media (orientation: portrait) {
        width: 100%;
        height: 420px;
        margin-right: 0;
        display: flex;
    }
}

.picture_description_right{
    /* Formatting */
    float: left;
    width: 100%;

    /* Corners */
    border-radius: var(--border_radius);

    @media (orientation: portrait) {
        width: auto;
        /* height: 80%; */
        display: flex;
        float: none;
        height: 50%;
        display: block;
    }
}

.back_button{
    height: fit-content;
    text-decoration: none;
}

.icons{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 20px;
    padding-left: 25px;
    margin: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    @media (orientation: portrait) {
        float: none;
    }
}

#linkedin{
    background-image: url('/Images/Icons/linkedin-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
#phone_icon{
    background-image: url('/Images/Icons//phone.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
#itch_io{
    background-image: url('/Images/Icons//itch-io-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
}
#steam{
    background-image: url('/Images/Icons//steam-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
}
#git_hub{
    background-image: url('/Images/Icons//github-mark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 28px;
    height: 25px;
}
