
:root{
    --back_color: #797979; 
    --container_color: #ddd;
    --object_color: #d45a5a;
    --border_radius: 8px;
}

header{
    width: 98%;
    padding: 1vw;


    border-top-left-radius: var(--border_radius);
    border-top-right-radius: var(--border_radius);

    margin-bottom: 0;

    /* Colors */
    color:black;
    background-color: var(--container_color);
}

nav{
    margin-top: 0;
    height: 5dvh;
    width: 100%;

    background-color: var(--container_color);

    display: flex;
    align-items: center;
    justify-content: center;

    border-color: var(--back_color);
    border-top: 2px;

    border-bottom-left-radius: var(--border_radius);
    border-bottom-right-radius: var(--border_radius);
}

body{
    min-width: auto;
    min-height: 100dvh;
    padding: 2vw;

    color: black;
    background-color: var(--back_color);
}

footer{
    float: right;
    width: 100%;

    /* Corners */
    border-radius: var(--border_radius);
    
    /* Colors */
    color: black;
    background-color: var(--container_color);
}


.navigation_button{
    display: flex;
    align-self: center;
    justify-content: center;

    width: 5dvw;
    height: 4dvh;

    background-color: var(--back_color);
    border: var(--container_color);
    border: 2px;
}


#main_container{
    padding: 2dvw;
    padding-left: 0;
    padding-right: 0;
    height: 80dvh;
    width: 100%;
}

.left_side{
    box-sizing:border-box;
    float: left;
    height: 100%;
    width: 60%;
    max-width: 60%;
    max-height: 100%;
    margin-right: 2vw;
    margin-left: 0;

    /* Internal */
    padding: 1vw;

    /* Corners */
    border-radius: var(--border_radius);

    color: black;
    background-color: var(--container_color);

    @media (max-width: 900px) {
        width: 100%;
        max-width: 100%;
        display: flex;
        background-color: blue;
    }
}

.right_side{
    /* Formatting */
    box-sizing:border-box;
    float: left;
    width: calc(40% - 2vw);
    max-width: 40%;
    /* margin-left: 2vw; */
    margin-right: 0;
    height: 100%;

    /* Internal */
    padding: 1vw;

    /* Corners */
    border-radius: var(--border_radius);
    
    /* Colors */
    color: black;
    background-color: var(--container_color);

    @media (max-width: 900px) {
        width: 100%;
        max-width: 100%;
        display: flex;
        background-color: blue;

        height: 50%;
    }
}

.portfolio_picture{
    /* Formatting */
    float: left;
    height: auto;
    width: 60%;
    max-width: 60%;
    max-height: 80%;

    /* Internal */
    object-fit: scale-down;

    /* Corners */
    border-radius: var(--border_radius);
    
    /* Colors */
    color: black;
    background-color: var(--object_color);
}

.picture_description_right{
    /* Formatting */
    float: left;
    max-width: fit-content;
    width: 40%;
    max-width: 40%;

    /* Corners */
    border-radius: var(--border_radius);
}